/*Body*/
.bodycontainer {
  width: 100%;
  z-index: -1;
}

/*Header*/
.header {
  padding: 25px;
  text-align: center;
  background: #DC143C;
  color: white;
  font-size: 30px;
}

.header-custom {
  width: 100%;
  padding: 25px;
  text-align: center;
  background: #DC143C;
  color: white;
  font-size: 30px;
}

.container {
max-width: 450px;
}

.push-top {
margin-top: 50px;
}
   
  /* Sidebar */
.sidenav {
  width:220px;
  padding:20px 0px 20px 0px;
  height: fit-content;
  position: fixed;
  left:5%;
  top:15%;
  outline:2px black solid;
  border-radius:10px ;
  z-index: 1;
  background-color: #151515;
  overflow-x: hidden;
}

.sidenav a {
  padding: 10px 20px 10px 20px;
  text-decoration: none !important;
  font-size: 18px;
  color: white;
  background-color:#151515;
  border-bottom: 0px;
  display: block;
  transition: 0.1s ease;
  cursor: pointer;
}

.sidenav a:hover {
color: #DC143C;
box-shadow: inset 9px 0 0 0 #DC143C;
}

.sidenav a:active {
color: #DC143C;
box-shadow: inset 9px 0 0 0 #DC143C;
}

.logo-container{
  background-color:rgb(209, 187, 187);
  display:inline-block;
  text-align:center;
  margin:0 auto;
  width: 100%;
  height: auto;
}

.admin-dropdown {
  width:100%;
  position: relative;
  display: none;
  z-index: 5;
  cursor: pointer;
}

.admin-dropdown a{
  background-color: #e0e0e0;
  border: none;
  color: black;
  cursor: pointer;
}

.admin-dropdown a:hover{
  color: #DC143C;
  box-shadow: inset -9px 0 0 0 #DC143C;
}

.admin-dropdown-container{
  display: flex;
}

.fa-caret-down-admin{
  margin:10px 0px 10px 5px;
  font-size:20px !important;
  color:white;
  cursor: pointer;
}

.admin-container{
  display:flex;
  width:100%;
  margin-top: 0px;
  padding-right: 10px;
  padding-left: 240px;
  z-index: -1;
  padding-top:0px !important;
}

.admin-content{
  border-radius: 3px;
  padding:0px;
  background-color:white;
  position: relative;
  padding:20px 20px;
  width:100%;
}

/* Card */
.admin-header {
  border-radius: 3px;
  padding:20px 20px;
  background-color:#e0e0e0;
  margin:0px 0px 10px 0px;
}

.admin-header a{
  text-decoration: none !important;
  color:black;
  font-size: 17px;
}

.admin-header a:hover{
  color:black;
}

.hr-sales{
  border-top: 2px solid #DC143C;
}

.vl-sales {
  border-left: 2px solid #DC143C;
  height: 350px;
  position: absolute;
  left: 50%;
  top: 16%;
}

.text-sales{
  text-align:left !important;
}